<div class="sm:px-4">
    <app-header></app-header>
<main class="sm:grid sm:grid-cols-3 sm:gap-4 mx-auto sm:w-3/4">
    <section class="grid gap-2 py-5  sm:col-span-2 sm:flex sm:flex-col sm:py-5">
        <img src="/assets/images/image-web-3-mobile.jpg" alt="web-img" class="w-full h-[300px] object-cover border">
        <div class="w-full grid gap-4 py-3 sm:grid-cols-2  sm:justify-center ">
            <h2 class="text-3xl font-extrabold font-inter text-very-dark-blue text-pretty w-52">
                The Bright Future of Web 3.0?
            </h2>
            <div class="grid gap-4">
                <p class="text-paragraph text-dark-grayish-blue font-inter leading-7">
                    We dive into the next evolution of the web that claims to put the power of the platform back into
                    the hands of the people. But is it really fulfilling its promise?
                </p>
                <div>
                    <button
                        class="w-2/3 bg-soft-red py-3 text-paragraph font-inter uppercase tracking-widest text-very-dark-blue font-extrabold hover:bg-very-dark-blue hover:text-off-white">Read
                        more</button>
                </div>
            </div>
        </div>
    </section>
    <section class="w-full grid bg-very-dark-blue p-4 gap-4 sm:col-span-1 sm:p-0 h-fit md:p-4">
        <h3 class="font-inter text-2xl text-soft-orange font-bold">New</h3>
        <article class="border-b border-slate-500 py-5 md:py-6 lg:py-8">
            <h4 class="font-inter text-off-white text-lg font-semibold hover:text-soft-orange cursor-pointer">Hydrogen VS Electric Cars</h4>
            <p class="font-inter text-grayish-blue leading-7">Will hydrogen-fueled cars ever catch up to EVs?</p>
        </article>
        <article class="border-b border-slate-500 py-5 md:py-6 lg:py-8">
            <h4 class="font-inter text-off-white text-lg font-semibold hover:text-soft-orange cursor-pointer">The Downsides of AI Artistry</h4>
            <p class="font-inter text-grayish-blue leading-7">What are the possible adverse effects of on-demand AI
                image generation?</p>
        </article>
        <article class="py-5 md:py-6 lg:py-8">
            <h4 class="font-inter text-off-white text-lg font-semibold hover:text-soft-orange cursor-pointer">Is VC Funding Drying up?</h4>
            <p class="font-inter text-grayish-blue leading-7">Private funding by VC firms is down 50% YOY. We take a
                look at what that means.</p>
        </article>
    </section>
    <aside class="grid py-12 gap-4 sm:grid-cols-3 sm:col-span-5 sm:gap-2">
        <article class="grid grid-cols-3 gap-4">
            <img src="../../assets/images/image-retro-pcs.jpg" alt="">
            <div class="w-full flex flex-col justify-around col-span-2">
                <span class="text-2xl text-soft-red font-bold font-inter">01</span>
                <h4 class="font-inter text-very-dark-blue text-lg font-bold hover:text-soft-red cursor-pointer">Reviving Retro PCs</h4>
                <p class="font-inter text-paragraph text-dark-grayish-blue leading-6">What happens when old PCs are
                    given modern updgrades?</p>
            </div>
        </article>
        <article class="grid grid-cols-3 gap-4">
            <img src="../../assets/images/image-top-laptops.jpg" alt="">
            <div class="w-full flex flex-col justify-around col-span-2">
                <span class="text-2xl text-soft-red font-bold font-inter">02</span>
                <h4 class="font-inter text-very-dark-blue text-lg font-bold hover:text-soft-red cursor-pointer">Top 10 Laptops of 2022</h4>
                <p class="font-inter text-paragraph text-dark-grayish-blue leading-6">Our best picks for various needs
                    and budgets.</p>
            </div>
        </article>
        <article class="grid grid-cols-3 gap-4">
            <img src="../../assets/images/image-gaming-growth.jpg" alt="">
            <div class="w-full flex flex-col justify-around col-span-2">
                <span class="text-2xl text-soft-red font-bold font-inter">03</span>
                <h4 class="font-inter text-very-dark-blue text-lg font-bold hover:text-soft-red cursor-pointer">The Growth of Gaming</h4>
                <p class="font-inter text-paragraph text-dark-grayish-blue leading-6">How the pandemic has sparked fresh
                    opportunities.</p>
            </div>
        </article>
    </aside>
</main>
</div>